.float-left {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

.rounded {
  margin: 5px;
}

body {
  background-color: darkgray;
}

a {
  font-family: "Banger", cursive;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
}
